* {
  font-family: "Roboto", sans-serif;
}

body {
  background-image: linear-gradient(
    109.6deg,
    rgb(128, 81, 60) 16%,
    #bbb 91.1%
  );
}
h1 {
  color: white;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.game-container {
  border: 1px dsolid darkmagenta;
  height: 95%;
  width: 25%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
    110.1deg,
    rgb(240, 17, 9) 2.9%,
    rgba(251, 152, 60, 0.178) 90.3%
  );
  box-shadow: 10px 5px 5px rgb(4, 63, 78);
}
#game-detail {
  height: 40%;
}
#game-detail-1 {
  min-height: 25%;
  margin: 10px;
}
#total-sum {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  background-color: rgb(111, 17, 134);
  margin: 20px;
  font-size: 40px;
}
#current-sum {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  background-color: #303030;
  margin: 20px;
  font-size: 25px;
  color: white;
}
#game-detail-2 {
  height: 15%;
}
#timer {
  height: 20%;
  margin: 10px;
}
#score {
  height: 5%;
  font-weight: 700;
  font-size: 15px;
  margin: 5px;
}
#game-board {
  height: 70%;
  background-color: black;
  margin-bottom: 10%;
  border-radius: 10px;
  padding: 10px;
}
.board-row {
  display: flex;
  justify-content: center;
  align-items: around;
}
.cell {
  height: 50px;
  width: 50px;
  border: 1px solid white;
  margin: 2px;
  color: white;
}

.selected {
  background-color: blue;
}
